



/*secondary menu */

  .site-branding{
  background-color: #682147;
  display: flex;
  justify-content: flex-end;
  padding: .2rem;
  }

  i.fa.fa-map-marker {
    color: #C1A257;
    display: flex;
    margin-top: 6px;
    margin-left:40px;
    font-size: 20px;
  }
  .address{
    color: #c1a257;
    font-family: 'Helvetica', Courier, monospace;
    font-weight: 100;
    font-size: 10px;
    margin: 3px 140px 0px 6px;
  }

  i.fa.fa-envelope {
    color: #C1A257;
    padding-top:8px;
  }
  .email{
    color: #c1a257;
    font-family: 'Helvetica', Courier, monospace;
    font-weight: 100;
    font-size: 10px;
    padding-left: 8px;
    margin-top: 9px;

  }

  i.fa.fa-phone {
    color: #C1A257;
    font-size: 16px;
    margin-top: 10px;
  }
  span.phone-number {
    color: #c1a257;
    font-family: 'Helvetica', Courier, monospace;
    font-weight: 100;
    font-size: 10px;
    padding-left: 10px;
    padding-top: 9px;
    padding-right: 50px;
  }
  /*------/secondary menu */
  
  
 
 

/*-----------------------------Desktop--------------------------------*/
@media (min-width:1025px) {
 
  /*main navigation desktop*/
  .main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    margin-top: 0rem;
    padding-left: 6rem;
    /* margin-right: 5rem; */
  }
  
  .main-navigation ul{
    padding:0;
  }

  .main-navigation div:first-child h1 {
    line-height: 0;
    font-size: .8rem !important;
    /* padding: .4rem 0rem; */
  }

  .main-navigation ul li{
    position: relative;
    text-align: center;
    padding-right: 30px;
    
  }
  
  .main-navigation ul li a {
    color:#C1A257;
    font-family: lowan old;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 1;
    padding-bottom: 12px;
    
  }

  .main-navigation ul li a::before, .main-navigation ul li a::after  {
    content: "";
    bottom: 0;
    right: 30px;
    position: absolute;
    width:0%;
    height: 2px;
    background:#682147;
  }
  .main-navigation ul li a:after{
    left: 0;
  }
  .main-navigation ul li a:hover::after, .main-navigation ul li a:hover::before  {
    width: 50%;
  }
 
  .menu-menu-1-container {
    margin-bottom: -58px;
  }
  


}