

.sponsor-class {  /*slick-list*/
  order: 2;
  width: 500px;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 80%;
  z-index: -1;
}




html, body, section {
  height: 100% !important;
}


body {
  text-align: center;
}

.xop-container {
  display: flex;
}

div.xop-right, div.xop-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.xop-left {
	background-color:#f2f2f2;
	background-size: cover;
	background-position: center;
	flex: 1;
  padding: 1rem;
  
	
}
.xop-right {
	background: url(../images/custom.jpeg);
	background-size: cover;
	background-position: center;
	flex: 1;
  padding: 1rem;
  flex-grow: 1;
  height: 500px;
	
}

.xop-left {
  font-family: Akkurat;
  
}
h2 .xop-left{
  padding-left: 20px;
}

.xop-left h2 {
  color: #568F60;
  font-weight: 500;
  font-family: Akkurat, Helvetica, sans-serif;
  padding-left: 100px;
  text-align: left;
  font-size: 30px;
  padding-bottom: 0px;
  margin: 0;
}
.xop-left p {
  margin-left: -85px;
  padding: 0;
  margin-bottom: 0;
  margin-top: -90px;
  font-family: Akkurat, Helvetica, sans-serif;
}
.xop-left span {
  margin-left: 30px;
  font-size: 22px;
  font-weight: 550;
  color: #568F60;
  font-family: Akkurat, Helvetica, sans-serif;
}
.xop-button {
	border-radius: 30px;
	color: #ffff;
  background-color: white;
  border: 3.5px solid black;
	padding: 1.5%;
	margin: 0 2%;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s;
  width: 200px;
  font-family: Akkurat, Helvetica, sans-serif;
  color: black;
  margin-left: 100px;
  margin-top: 30px;
}
.xop-button:hover {
	background: #c0ceb7;
  color: black;
  transform: scale(0.95);
  border: 0px solid black;
}


/*-----------------------------------------------*/
.divide-about {
  /* display: flex; */
  max-width: 1300;
  /* padding: 0px 160px; */
  /* justify-content: space-between; */
}
.featured-image-home{
  padding: 20px;
  box-sizing: border-box;
  flex-basis: 60%;
}

.right-about {
  padding: 20px;
  box-sizing: border-box;
  flex-basis: 40%;
  text-align: left;
  font-family: akkurat;
}

.right-about p {
  margin-top: -12px;
  font-family: akkurat;
}
.right-about h1{
  text-transform: uppercase;
}
.right-about a{
  margin-top: -20px;
  text-transform: uppercase;
  color: #568F60;
  
}

/**----------------------------*/
.two-first-bleck {
  font-family: akkurat;
  /* display: flex; */
  max-width: 1300;
  /* justify-content: space-between;
  padding: 0 160px; */
  
}
.dekton {
  /* width: 50%; */
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
}

.silestone {
  /* width: 50%; */
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
}
.dekton h2, .silestone h2, .cambria h2, .sensa h2{
  color: #568F60;
}

.cambria {
  /* width: 50%; */
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
}
.sensa {
  /* width: 50%; */
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
}

.silestone a, .dekton a, .sensa a, .cambria a { color:#568F60;}
.silestone a:hover,  .dekton a:hover{
  color: #000000;
}

/*-------------------------*/
.expert {
  border: 1px #727272 solid;
  margin-left: 170px;
  margin-right: 170px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 900px) {
  .divide-about{
    display: flex;
    justify-content: space-between;
    padding: 0px 160px;
  }
  .text-finest-selection{
    text-transform: uppercase;
    font-family: akkurat; 
    font-weight: 700;
  }
  .two-first-bleck {
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
  }
  .dekton, .cambria, .sensa,.silestone {
    width: 50%;
  }
  .two-second-block{
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
  }
}
