
/* Navigation Menu */




/*-----------------------------Desktop--------------------------------*/
@media (min-width:1025px) {
 
  /*main navigation desktop*/
  .main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    margin-top: 0rem;
    padding-left: 6rem;
    /* margin-right: 5rem; */
  }
  
  .main-navigation ul{
    padding:0;
  }

  .main-navigation div:first-child h1 {
    line-height: 0;
    font-size: .8rem !important;
    /* padding: .4rem 0rem; */
  }

  .main-navigation ul li{
    position: relative;
    text-align: center;
    padding-right: 30px;
    
  }
  
  .main-navigation ul li a {
    color:#C1A257;
    font-family: lowan old;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 1;
    padding-bottom: 12px;
    
  }

  .main-navigation ul li a::before, .main-navigation ul li a::after  {
    content: "";
    bottom: 0;
    right: 30px;
    position: absolute;
    width:0%;
    height: 2px;
    background:#682147;
  }
  .main-navigation ul li a:after{
    left: 0;
  }
  .main-navigation ul li a:hover::after, .main-navigation ul li a:hover::before  {
    width: 50%;
  }
 
  .menu-menu-1-container {
    margin-bottom: -58px;
  }
  
  /*          */
 

}